* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	color: white;	
}

body {
	font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	border: none;
}

input:focus, textarea:focus{
	outline: none;
}

.container {
	max-width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.efeitoTitulo:hover .titulo-secao {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(255, 255, 255, .1);
	color: transparent;
	transition: .4s;
}

.titulo-secao {
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: inherit;	
	color: #222;	
	padding: 80px 0;
	text-align: center;
	transition: .4s;
}

/*Botões*/

.btn {
	border: 1px solid white;
	font-size: 14px;
	border-radius: 30px;
	position: relative;
	padding: 12px 34px;
	overflow: hidden;
	outline: none;
	display: inline-block;
	margin-bottom: 10px;
}

.btn::before, .btn::after {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: width 0.5s;
}

.btn::before {
	background-color: #c49b66;
	transition-delay: 0.2s;
	opacity: 0.4;
	z-index: 1;
}

.btn::after{
	background-color: #c49b66;
	z-index: 2;
}

.btn:hover::before, .btn:hover::after {
	transition: width 0.5s;
	width: 100%;
	background-color: #c49b66;	
} 

.btn:hover::after {
	transition-delay: 0.2s;	
}

.btn span {
	z-index: 3;
	position: relative;
}

.btn-branco {
	background-color: white;
}

.btn-branco span {
	color: #c49b66;
	transition: .4s;
}

.btn-branco:hover span{
	color: white;
	transition: .4s;
}

/*Btn amarelo*/

.btn-amarelo {
	border: 1px solid #c49b66;
	font-size: 14px;
	border-radius: 30px;
	position: relative;
	padding: 12px 34px;
	overflow: hidden;
	outline: none;
	display: inline-block;
}

.btn-amarelo::before, .btn::after {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: width 0.5s;
}

.btn-amarelo::before {
	background-color: white;
	transition-delay: 0.2s;
	opacity: 0.4;
	z-index: 1;
}

.btn-amarelo::after{
	background-color: white;
	z-index: 2;
}

.btn-amarelo:hover::before, .btn-amarelo:hover::after {
	transition: width 0.5s;
	width: 100%;
	background-color: white;	
} 

.btn-amarelo:hover::after {
	transition-delay: 0.2s;	
}

.btn-amarelo {
	background-color: #c49b66;
}

.btn-amarelo span {
	color: white;
	transition: .4s;
	position: relative;
	z-index: 3;
}

.btn-amarelo:hover span{
	color: #c49b66;
	transition: .4s;
}

/*Header*/ 

.header {
	background-color: transparent;
}

.nav-scroll {
	background-color: #222 ;
	position: fixed;
	top: -100px;
	transform: translateY(100px);
	transition: transform .5s;
	width: 100%;
	z-index: 1000;
}

.header-conteudo {
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.menu {
	display: block;
	visibility: hidden;	
	position: absolute;
	z-index: 1000;
	right: 0;
	left: 0px;
	top: 80px;
	background-color: #111;
	padding: 10px;
	height: 0;
	overflow-y: hidden;
	transition: .3s;
}

.menu.active {
	visibility: visible;
	height: 325px;
	overflow-y: hidden;
	transition: .3s;
}

.menu li {
	text-align: center;
	margin: 5px 0;
}

.menu li a {
	font-size: 13px;
	color: #EEEEEE;	
	font-weight: 500;
	padding: 15px 5px;
	display: block;
	letter-spacing: .5;
}

.btn-hamburger {
	background-color: transparent;
	padding: 3px 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.hamburger {
	color: white;
	font-size: 20px;
}

.btn-hamburger:focus {
	border: 1px solid white;
}

/*Home*/

.home {
	background-image: url(imagens/bg.jpg);
	background-size: cover;
	background-attachment: local;
	height: 100vh;
	margin-top: -80px;
	background-repeat:no-repeat;
	background-position: center center;
	text-align: center;	
}

.home-conteudo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.home h2 {
	font-family: Josefin Sans;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 4px;
}

.home h1 {	
	font-size: 25px;
	line-height: 1.4;
	letter-spacing: 2px;
	font-weight: 700;
	margin: 15px 0 30px 0;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.home-ad {
	position: relative;
	width: 190px;
	height: 30px;	
}

.home-ad-item {	
	color: #c49b66;
	position: absolute;
	width: 190px;
	visibility: hidden;
	opacity: 0;
}

.home-ad-item.active {
	visibility: visible;
	animation-name: animacaoHomeEntrada;
	animation-duration: 5s;
}

@keyframes animacaoHomeEntrada {
	0% {
		transform: translateX(-150%);
		opacity: 0;
	}

	5%, 98%{
		transform: translateX(-50%);
		opacity: 1;
	}

	100% {
		transform: translateX(0%);
		opacity: 0;
	}
}

/*About*/

.about {
	background-color: #161617;
}

.about-conteudo {
	overflow-x: hidden;
}

.about-titulo-skill {
	padding-bottom: 50px;
}

.about .titulo-secao {
	text-align: left;
}

.skill {
	margin-bottom: 25px;
}

.skill h3 {
	font-size: 14px;
	color: white;
	font-weight: 400;
	margin-bottom: 15px;
}

.barra-progresso {
	height: 8px;
	border-radius: 20px;
	width: 50%;
	background-color: #333;
	position: relative;
	border: none;
}

.barra-progresso-crescente {
	height: 8px;
	background-color: #c49b66;
	position: relative;
	border-radius:  20px 0 0 20px ;
	width: 10%;
	animation-name: barra-crescendo;
	animation-duration: 2s;
}

.barra-progresso span{
	font-size: 10px;
	position: absolute;
	top: -15px;
	right: 0;
}

.w-90 {
	width: 90%;
}
.w-75 {
	width: 75%;
}
.w-80 {
	width: 80%;
}

@keyframes barra-crescendo {
	from {
		width: 10%;
	}
}

.about-conteudo img {
	width: calc(100% + 30px);
	height: 400px;
	object-fit: cover;
	position: relative;
	left: -15px;
}

.about-textos {
	padding: 80px 0;
}

.about-textos h4 {
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin-bottom: 10px;
}

.about-textos h3 {
	font-size: 30px;
	font-weight: 600;
	background-color: #c49b66;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 30px;
}

.about-textos h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}

.about-textos p {
	font-size: 15px;
	color: #8f8f8f;
	line-height: 1.8;
	margin-bottom: 10px;
}

.about-redes-sociais {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	line-height: 30px;
}

.about-redes-sociais span{
	font-size: 12px;
	color: #c49b66;
	position: relative;
	padding-right: 50px;
}

.about-redes-sociais span::after{
	content: "";
	height: 1px;
	width: 40px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	right: 0;
}

.about-redes-sociais ul{
	display: flex;
}

.about-redes-sociais ul li{
	margin: 0 12px;
}

.about-redes-sociais .icon{
	font-size: 13px;
	color: white;
	transition: color .1s;
}

.about-redes-sociais .icon:hover{
	color: #c49b66;
	transition: .1s;
}

/*Services*/ 

.services {
	background-color: #0f0f0f;
	padding-bottom: 80px;
}

.card {
	padding: 70px 20px 50px 20px;
	text-align: center;
	background-color: #0a0a0c;
	position: relative;
	margin-bottom: 50px;
}

.card h3 {
	font-size: 16px;
	color: white;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 50px;
}

.card p {
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1.8;
}

.card .icon {
	font-size: 45px;
	position: relative;
	z-index: 1;
}

.card .icon::after {
	width: 85px;
	height: 85px;
	border-radius: 30px;
	position: absolute;
	top: -40%;
	left: -45%;
	transform: rotate(45deg);
	content: "";
	background-color: rgba(200, 200, 200, 0.05);
	transition: .4s;
	z-index: -1;
}

.card:hover .icon::after {
	transform: rotate(0);
	background-color: #c49b66;
	transition: transform .4s;
}

/*Portfolio*/

.portfolio {
	background-color: #161617;
	padding-bottom: 80px;
}

.portfolio-botoes {
	text-align: center;
	margin-bottom: 60px;
}

.portfolio-btn {
	color: white;
	font-size: 12px;
	font-weight: 600;
	background-color: transparent;
	border: none;
	padding: 9px 15px;
	border-radius: 30px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: rubik;
}

.portfolio-btn.active {
	background-color: #c49b66;
}

.album-item {
	position: relative;
	margin-bottom: 60px;
}

.w-1, .w-2 {
	width: 100%;
}

.album-item .album-item-img {
	width: 100%;
	border-radius: 15px;	
}

.album-item-textos {
	visibility: hidden;
	position: absolute;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	margin: 16px 10px;
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
	display: flex;
	transform: translateY(10px);
	transition: .5s;
	opacity: 0;
}

.album-item:hover .album-item-textos {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: .5s;
}

.album-item-textos div {
	margin: auto;
}

.album-item .titulo-img {
	position: relative;
	font-size: 18px;
	font-weight: 400;
	animation-name: saidaTituloPortfolio;
	animation-duration: .5s;
}

.album-item:hover .titulo-img {
	animation-name: entradaTituloPortfolio;
	animation-duration: .5s;
}


@keyframes entradaTituloPortfolio {
	from {
		transform: translateY(-15px);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes saidaTituloPortfolio {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-15px);
	}
}

.album-item-textos p {
	color: #8f8f8f;
	font-size: 15px;
	line-height: 1.8;
	margin-top: 8px;
}

.album-item-textos a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.album-item-textos .icon {
	font-size: 30px;
	color: #c49b66;
}

.all-item, .brand-item, .design-item, .graphic-item {
	display: none;
}

.all-item.mostra, .brand-item.mostra, .design-item.mostra, .graphic-item.mostra {
	display: block;
}

/*Our blog*/

.blog {
	background-color: #0f0f0f;
}

.blog-conteudo {
	display: block;
	padding-bottom: 40px;
}

.blog-conteudo-item {
	display: block;
	position: relative;	
	min-height: ;
	height: auto;
	width: 100%;
	overflow: hidden;
	margin-bottom: 60px;
}

.blog-conteudo-item img {
	width: 100%;
	object-fit: cover;
	border-radius: 15px;

	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
 	filter: blur(3px);
 	transition: .5s;
}

.blog-conteudo-item:hover img {	
	transition: .5s;
	-webkit-filter: blur(0px);
  	-moz-filter: blur(0px);
  	-o-filter: blur(0px);
  	-ms-filter: blur(0px);
 	filter: blur(0px);

 	-moz-transform: scale(1.01);
  	-webkit-transform: scale(1.01);
 	transform: scale(1.01);
}

.blog-conteudo-texto {
	padding: 40px 30px;	
	position: absolute;
	bottom: 10px;
	transform: translateY(70px);
	background-color: transparent;
	transition: transform .5s;
	width: 100%;
	z-index: 10;
}

.blog-conteudo-item:hover .blog-conteudo-texto {
	transform: translateY(0);
	transition: transform .5s;	
}

.blog-conteudo-texto .assunto, .data {
	font-size: 11px;
	color: #c49b66;
	text-transform: uppercase;
	font-family: Rubik;
}

.blog-conteudo-texto .assunto::after {
	content: '/';
	padding: 0 10px;
}

.blog-conteudo-texto h4 {
	font-size: 25px;
	line-height: 1.5;
	font-weight: 500;
	margin-bottom: 30px;
	transition: color .4s;
}

.blog-conteudo-texto .leiaMais {
	border-bottom: 1px solid #c49b66;
	padding:  10px 3px;
}
.blog-conteudo-texto .leiaMais:hover {
	color: #c49b66;
	transition: .4s;
}

/*Contact*/

.contact {
	background-color: #161617;
	padding-bottom: 80px;
}

.contact-endereco {
	padding-top: 30px;
	background-image: url(imagens/map.png);
	background-size: cover;
}

.contact-endereco div{
	margin-bottom: 25px;
}

.contact-endereco h4 {
	color: #c49b66;
	font-size: 11px;
	margin-bottom: 5px;
	letter-spacing: 2px;
	font-weight: 400;
}

.contact-endereco p {
	font-size: 15px;
	color: #8f8f8f;
	line-height: 1.8;
}

.contact-form {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	padding: 50px 0;
}

.form-name, .form-email, .form-subject, .form-message {
	padding: 15px;	
	border: none;
	background-color: #222;
}

.form-name, .form-email, .form-subject {
	border-radius: 30px;
}

.form-message {
	border-radius: 10px;
	height: 160px;
	max-height: 160px;
	resize: vertical;
}

.contact-form button {
	cursor: pointer;
	width: 180px;
	margin-left: auto;
}

/*Footer*/

.footer {
	background-color: #0f0f0f;
	padding: 80px 0;
}

.footer-conteudo {
	text-align: center;
}

.footer .logo {
	width: 100px;
}

.footer-conteudo ul {
	display: flex;
	justify-content: center;
	margin: 40px 0 30px 0;
	flex-wrap: wrap;
}

.footer-conteudo ul li{
	margin: 0 25px;
	line-height: 60px;
}

.footer-conteudo ul li:last-child{	
	
}

.footer-conteudo ul li a{
	display: block;
}

.footer-conteudo .icon{
	color: #c49b66;
	position: relative;
	z-index: 1;
	transition: .4s;
}

.footer-conteudo .icon:hover {
	color: white;
	transition: .4s;
}

.footer-conteudo .icon::after{
	width: 45px;
	height: 45px;
	border-radius: 10px;
	position: absolute;
	top: -80%;
	left: -90%;
	transform: rotate(45deg);
	content: "";
	background-color: rgba(200, 200, 200, 0.05);
	transition: .4s;
	z-index: -1;
}

.footer-conteudo .icon:hover::after {
	transform: rotate(0);
	background-color: #c49b66;
	transition: .4s;
}

.footer p {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	color: #999;
	letter-spacing: 2px;
}

/*Media Queries*/

@media (min-width: 576px){

	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px){

	.container {
		max-width: 720px;
	}

	/*Titulo seção*/

	.titulo-secao {
		font-size: 70px;
	}

	/*Home*/

	.home h1 {	
		font-size: 45px;
	}

	.home-ad {
		width: 360px;
		height: 55px;		
	}

	.home-ad-item {	
		width: 360px;
	}

	/*Services*/

	.services-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
	}

	/*Portfolio*/

	.album {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

	.album-item {
		margin-bottom: 0px;
	}

	/*Contact*/

	.contact-form {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}
	
	.form-subject, .form-message, .contact-form button {	
		grid-column: 1 / 3;
	}
}

@media (min-width: 992px){

	.container {
		max-width: 968px;
	}

	/*Header*/

	.btn-hamburger {
		display: none;
	}

	.menu {
		display: flex;
		visibility: visible;	
		position: static;
		background-color: transparent;
		height: auto;
	}

	.menu.active {
		height: auto;
	}

	.menu li {
		margin: 0 10px;
	}

	/*Retira a margin do ultimo item do menu*/

	.menu li:last-child {
		margin-right: 0;
	}

	/*Home*/

	.home h2 {
		font-size: 70px;
	}

	.home h1 {	
		font-size: 60px;
	}

	.home-ad {
		width: 400px;
		height: 75px;		
	}

	.home-ad-item {	
		width: 400px;
	}

	/*About*/ 

	.about-conteudo {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}

	.about-conteudo img {
		width: 100%;
		height: 100%;
		position: static;
	}

	.barra-progresso {
		width: 100%;
	}

	/*Services*/

	.services-cards {
		grid-template-columns: repeat(4, 1fr);
	}

	/*Blog*/

	.blog-conteudo {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 30px;
	}

	.blog-conteudo-item {	
		height: auto;
	}

	/*Contact*/

	.contact-conteudo {
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		grid-column-gap: 30px;
	}

	.contact-endereco {
		height: 240px;
	}

	.contact-form {
		padding-top: 0;
	}
}

@media (min-width: 1200px){

	.container {
		max-width: 1140px;
	}
}