* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	color: white;	
}

body {
	
	font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.estrutura {
	background-color: white;
}

/*Header*/ 

.header {
	background-color: transparent;
	
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	position: relative;
	border: 1px solid red;
	z-index: 1;
}

.menu {
	display: none;
	position: absolute;
	background-color: gray;
	right: 0;
	left: 0;
	top: 80px;
	background-color: #111;
	padding: 10px;
}

.menu li {
	text-align: center;
	margin: 5px 0;
}


.menu li a {
	font-size: 13px;
	color: #EEEEEE;	
	font-weight: 500;
	padding: 15px 5px;
	display: block;
}

.btn-hamburger {
	background-color: transparent;
	padding: 6px 10px 3px 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.hamburger {
	color: white;
}

.btn-hamburger.active {
	border: 1px solid white;
}

/*Home*/

.home {
	background-image: url(imagens/bg.jpg);
	background-size: cover;
	height: 100vh;
	position: relative;
	top: -80px;
	background-repeat:no-repeat;
	background-position: center center;
	text-align: center;
	
}

.home-conteudo {
	border: 1px solid red;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.home h2 {
	font-family: Josefin Sans;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 4px;
}

.home h1 {	
	font-size: 25px;
	line-height: 1.4;
	letter-spacing: 2px;
	font-weight: 700;
	margin: 15px 0;
}

.home h1 b{	
	color: ;
}

.home-btns {
	border: 1px solid blue;
	margin-top: 30px;
}

.home-btn {
	border: 1px solid white;
	font-size: 14px;
	border-radius: 30px;
	position: relative;
	padding: 12px 34px;
	overflow: hidden;
	outline: none;
	display: inline-block;
}

.home-btn::before, .home-btn::after {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: width 0.5s;
}

.home-btn::before{
	background-color: #c49b66;;
	transition-delay: 0.2s;
	opacity: 0.4;
}

.home-btn::after{
	background-color: #c49b66;;
}

.home-btn:hover::before {
	transition: width 0.5s;
	width: 100%;
	background-color: #c49b66;	
	z-index: 2;
} 

.home-btn:hover::after {
	transition: width 0.5s;
	width: 100%;
	background-color: #c49b66;
	transition-delay: 0.2s;
	z-index: 1;
}

.home-btn span {
	z-index: 3;
	position: relative;
}

.home-btn-amarelo {
	background-color: white;
}

.home-btn-amarelo span {
	color: #c49b66;
	transition: .4s;
}

.home-btn-amarelo:hover span{
	color: white;
	transition: .4s;
}